.menu {
  padding: 20px;

  height: 100vh;

  background-color: $white;

  overflow: auto;
  z-index: 2;

  &__close {
    margin: 0 0 0 auto;

    width: 44px;
    height: 44px;

    display: block;

    background-image: url(/src/images/icons/close.svg);
    background-size: contain;
    background-repeat: no-repeat;
  }
}
