.ceo {
  padding: 326px 22px 40px;

  background: $bg-gradient;

  @include on-desktop {
    padding: 162px 60px 50px;
  }

  &__top {
    max-width: 1200px;
    margin: 0 auto 32px;

    @include on-desktop {
      margin-bottom: 28px;
    }
  }

  &__text {
    position: relative;

    padding: 30px 34px 10px;

    font-size: 20px;
    line-height: 22px;

    color: $white;

    background-image: url(/src/images/bg-ceo.png);
    background-size: cover;
    background-position: center;

    @include on-tablet {
      padding-bottom: 30px;
    }

    @include on-desktop {
      width: 680px;

      padding: 100px 28px 64px 92px;
      margin: 0 0 0 auto;
    }

    &::before {
      content: '';
      position: absolute;

      top: -276px;

      left: 50%;
      transform: translateX(-50%);

      width: 298px;
      height: 298px;

      background-image: url(/src/images/ceo.png);
      background-repeat: no-repeat;
      background-size: cover;

      @include on-desktop {
        width: 464px;
        height: 464px;

        margin: 0 auto;

        left: -160px;
        top: -100px;
      }
    }
  }
}
