.step {
  padding-block: 10px;
  width: 360px;
  height: 400px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  @include on-desktop {
    align-items: start;

    padding-inline: 32px;

    border-right: 1px solid $border;

    &:first-of-type {
      padding-inline: 10px 32px;
    }

    &:last-of-type {
      padding-inline: 32px 10px;

      border: none;
    }
  }

  &__img {
    width: 95px;
    height: 95px;
  }

  &__title {
    margin-bottom: auto 0 34px;

    font-size: 31px;
    line-height: 36px;
  }

  &__description {
    margin-bottom: 32px;

    font-size: 20px;
    line-height: 22px;
    text-align: center;
  }
}
