@mixin page-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20px;

  @include on-tablet {
    grid-template-columns: repeat(6, 1fr);
    column-gap: 30px;

    max-width: 768px;
    margin: 0 auto;
  }

  @include on-desktop {
    grid-template-columns: repeat(12, 1fr);
    max-width: 1200px;
  }
}

@mixin on-tablet {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin on-desktop {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin button-hover {
  transition: background-color $effectDuration;

  &:hover {
    background-color: $button-hover;
  }
}
